/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Longbeard
Author URI: https://www.longbeard.com
Version: 1.0.0
Template: bridge
*/

