/******************************************************************

Stylesheet: About

Styles for 404 page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lrg-gutters {
    min-height: calc(100vh - 100px);

    @include breakpoint($laptop-break) {
        min-height: calc(100vh - 80px);
    }


    @include breakpoint($tablet-break) {
        min-height: calc(100vh - 65px);
    }


    @include padding-top($col-vw * 1.5);
    @include padding-bottom($col-vw * 1.5);

    .ct-section-inner-wrap {
        align-items: flex-start !important;
        justify-content: center;
        text-align: left !important;

        @include breakpoint($mobile-break) {
            min-height: calc(100vh - 60px);
        }


        .oxy-rich-text {
            max-width: $col-vw * 6;

            @include breakpoint($tablet-break) {
                max-width: $col-vw * 8;
            }


            @include breakpoint($mobile-break) {
                max-width: 100%;
            }


            h2 {
                margin-bottom: 2.5rem;
            }
        }
    }
}