/******************************************************************

Stylesheet: 404 page

Styles for 404 page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lrg-gutters {
    position: relative;
    background-position: center !important;
    background-size: cover !important;
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;

    .ct-section-inner-wrap {
        position: relative;
        z-index: 2;
        padding-right: ($col-vw * 4) !important;

        @include breakpoint($tablet-break) {
            padding-right: ($col-vw * 2) !important;
        }


        @include breakpoint($mobile-break) {
            padding-right: 0 !important;
        }
    }
}