/******************************************************************

Stylesheet: Universal Site Styles

Only put styles in here that will be used across the entire site.
For styles only applying to one particular page, use the appropriate
page SCSS file.

******************************************************************/
/*********************
GENERAL STYLES
*********************/
// This is the base font size that all typographic elements should be scaled to.
html {
    font-size: 16px;
}

body {
    font-family: $body-font;
    font-size: 100%;
    color: $color-p;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*********************
LINK STYLES
*********************/
a,
a:visited {
    color: $color-active;

    /* on hover */
    &:focus,
    &:hover {
        color: $color-hover;
    }

    /* on click */
    &:active {}

    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
    text-rendering: optimizelegibility;
    font-weight: 500;

    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */
    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}


/*********************
HEADER & NAV STYLES
*********************/

@import "../elements/header";

/*********************
HERO STYLES
*********************/

/*********************
GLOBAL ELEMENTS
*********************/
/*********************
Please add global elements as a partial to the "elements" folder and import here. 
Example of great canidates are title areas, accordions, or tabs.
*********************/

@import "../elements/buttons";
@import "../elements/forms";

/*********************
FOOTER STYLES
*********************/

@import "../elements/footer";