/******************************************************************
Stylesheet: Search Results

Styles for search result page ONLY. If the styles will be used across the site,
use the _base.scss file.
******************************************************************/
