/******************************************************************
Site Name:
Author: Longbeard

Stylesheet: Super-tablets and down.

Large tablets (ie. iPad Pro 12.9" and down)

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

.mobile-hide {
	display: none;
}

.desktop-hide {
	display: initial;
}

/*********************
LAYOUT & GRID STYLES
*********************/

/*********************
HEADER STYLES
*********************/

/*********************
NAVIGATION STYLES
*********************/

/*********************
PAGE CONTENT
*********************/

/*********************
SIDEBARS & ASIDES
*********************/

/*********************
FOOTER STYLES
*********************/
