/******************************************************************
Site Name:
Author:

Stylesheet: Tablets

This is for iPad Portrait and other tablet sizes, and down.

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

.mobile-hide {
	display: none;
}

.desktop-hide {
	display: initial;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/


/*********************
FOOTER STYLES
*********************/


