/******************************************************************

Stylesheet: Mixins Stylesheet

******************************************************************/
/**********************
BUTTONS
**********************/
%btn {
    border-width: 0 !important;
    border-radius: 0 !important;
    font: $h6;
    padding: 0 !important;
    width: auto;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 0;
        transition: 300ms;
    }

    &:hover {
        opacity: 1 !important;
        background-color: transparent !important;

        &::after {
            height: calc(100% + 3px);
            opacity: 0.3;
        }
    }
}

@mixin btn($btn-color) {
    &::after {
        background: $btn-color;
    }

    &:hover {
        color: $btn-color !important;
    }

    @extend %btn;
}
/**************************
RESPONSIVE RATIO
**************************/
@mixin ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    }
    @else {
        padding-top: $padding;
    }
}
/*************************
MEDIA QUERY (MQ)
*************************/
@import 'breakpoint';
/************************
PADDING / MARGIN ASSIST
************************/
// top padding
@mixin padding-top($pad) {
    padding-top: $pad;

    @include breakpoint($tablet-break) {
        padding-top: $pad * 1.5;
    }


    @include breakpoint($mobile-break) {
        padding-top: $pad * 2;
    }
}

// bottom padding
@mixin padding-bottom($pad) {
    padding-bottom: $pad;

    @include breakpoint($tablet-break) {
        padding-bottom: $pad * 1.5;
    }


    @include breakpoint($mobile-break) {
        padding-bottom: $pad * 2;
    }
}

// top margin
@mixin margin-top($pad) {
    margin-top: $pad;

    @include breakpoint($tablet-break) {
        margin-top: $pad * 1.5;
    }


    @include breakpoint($mobile-break) {
        margin-top: $pad * 2;
    }
}

// bottom margin
@mixin margin-bottom($pad) {
    margin-bottom: $pad;

    @include breakpoint($tablet-break) {
        margin-bottom: $pad * 1.5;
    }


    @include breakpoint($mobile-break) {
        margin-bottom: $pad * 2;
    }
}
/*********************************
SVG BACKGROUND IMAGE WITH FALLBACK
*********************************/
$image-path: '../img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false) {
    background-image: url("#{$image-path}/#{$name}.svg");
    @if($size) {
        background-size: $size;
    }

    .no-svg & {
        background-image: url("#{$image-path}/#{$name}.#{$fallback-extension}");
        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
            background-image: url("#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension}");
        }
    }
}
/* USAGE
.lb_div {
    @include background-image('bg');
}
** must have bg.svg, bg.png & bg@2x.png
*/
