/******************************************************************

Stylesheet: Typography

******************************************************************/

/*********************
FONT FACE
*********************/
// font stacks
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Georgia', Cambria, Times New Roman, Times, serif;

$primary: Arial;
$secondary: Times New Roman;

// theme fonts
$body-font: 400 1em / 1.5em $secondary, $sans-serif;
$h1: 400 3em / 1.25em $secondary, $sans-serif;
$h2: 400 2.5em / 1.25em $secondary, $sans-serif;
$h3: 400 2em / 1.25em $secondary, $sans-serif;
$h4: 400 1.5em / 1.25em $secondary, $sans-serif;
$h5: 400 1.25em / 1.25em $secondary, $sans-serif;
$h6: 400 1em / 1.25em $secondary, $sans-serif;