/******************************************************************

Stylesheet: Typography

******************************************************************/


/*********************
FONT FACE
*********************/


@font-face {
  font-family: '';
  src:  ;
  font-weight: normal;
  font-style: normal;
}

// font stacks

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$primary:		'Gotham Rounded Medium';
$secondary:		'Gotham Rounded Book';

// theme fonts

$heading-font:			80px $primary, $sans-serif;
$body-font:			400 1em/1.2em $secondary, $sans-serif;

$h1:				800 6em/6.2em $secondary, $sans-serif;
$h2:				600 5em/5.2em $secondary, $sans-serif;
$h3:				600 4em/4.2em $secondary, $sans-serif;
$h4:				400 3em/3.2em $secondary, $sans-serif;
$h5:				400 2em/2.2em $secondary, $sans-serif;
$h6:				400 1em/1.2em $secondary, $sans-serif;

// Setting universal font styles

h1 {
    font: $h1;
    }
h2 {
    font: $h2;
    }
h3 {
    font: $h3;
    }
h4 {
    font: $h4;
    }
h5 {
    font: $h5;
    }
h6 {
    font: $h6;
    }


p {
  font: $body-font;
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
//   -webkit-font-feature-settings: "liga", "dlig";
//    -moz-font-feature-settings: "liga=1, dlig=1";
//       -ms-font-feature-settings: "liga", "dlig";
//        -o-font-feature-settings: "liga", "dlig";
//           font-feature-settings: "kern" 1, "dlig" 1;
}

