/******************************************************************

Stylesheet: Typography

******************************************************************/

/*********************
FONT FACE
*********************/
// font stacks
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Georgia', Cambria, Times New Roman, Times, serif;

$primary: Arial;
$secondary: Times New Roman;

// theme fonts
$body-font: 400 1em / 1.2em $secondary, $sans-serif;
$h1: 800 6em / 1.2em $secondary, $sans-serif;
$h2: 600 5em / 1.2em $secondary, $sans-serif;
$h3: 600 4em / 1.2em $secondary, $sans-serif;
$h4: 400 3em / 1.2em $secondary, $sans-serif;
$h5: 400 2em / 1.2em $secondary, $sans-serif;
$h6: 400 1em / 1.2em $secondary, $sans-serif;