/******************************************************************

Stylesheet: Variables

******************************************************************/

/* Colours */

$color1:      		#272727;
$color2:  	        #009fb7;
$color3:      		#fed766;
$color4:  	        #a4a3a6;
$color5:      		#eff1f3;
$color-hover:       #009fb7;
$color-active:      #009fb7;

$color-p:           #272727;
$text-gray:         #a4a3a6;
$white:             #ffffff;
$gray:              #eff1f3;
$black:             #000000;

/* Spacing / Padding */

$col: 100% / 12;
$col-vw: 100vw / 12;

$heading-space:     30px;

$transition: 0.14s ease-in-out;

.opacity-hover {
    transition: opacity $transition;
    &:hover {
        opacity: 0.8;
    }
}


/* Consultmate variables */
// border thickness
$border-width: 1px;