/******************************************************************

Site Name:
Author:

Stylesheet: Gravity Form Styles

For universal gravity forms style overrides. For individual page form overrides please use the specific page SCSS file.

This is not an exhaustive list. 
For other GF CSS classes, go here: https://www.gravityhelp.com/documentation/article/css-targeting-samples/

******************************************************************/

/*********************
GRAVITY FORM UNIVERSAL STYLES
*********************/

body .gform_wrapper {
  .gform_heading {
    .gform_title, .gform_description {}
  }
  .gform_body .gform_fields .gfield {
    input[type=text], select, textarea, .gfield_radio, .gfield_checkbox {}
  }
}

/*********************
ACTIVE STATES
*********************/


// spacing out the password
input[type="password"] {
  letter-spacing: 0.3em;
}


